main {
  max-width: 1280px;
  padding: 24px 32px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

main img {
  width: calc(25% - 18px); 
  height: auto;
}

@media (max-width: 1024px) {
  main img {
    width: calc(33.33% - 16px);
  }
}

@media (max-width: 768px) {
  main img {
    width: calc(50% - 14px); 
  }
}

@media (max-width: 480px) {
  main img {
    width: 100%; 
  }
}
